<!-- <div class="NgxEditor__Wrapper">
  <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
  <ngx-editor
    [editor]="editor"
    [(ngModel)]="html"
    [disabled]="false"
    [placeholder]="'Type here...'"
  ></ngx-editor>
</div> -->

<div class="container">
  <h2>Editor Demo</h2>
  <div class="content">
    <form [formGroup]="form">
      <div class="editor">
        <ngx-editor-menu
          [editor]="editor"
          [toolbar]="toolbar"
          [customMenuRef]="customMenu"
        ></ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          formControlName="editorContent"
        ></ngx-editor>
      </div>
    </form>

    <ng-template #customMenu>
      <app-custom-menu [editor]="editor"> </app-custom-menu>
      <app-custom-menu [editor]="editor"> </app-custom-menu>
    </ng-template>
  </div>
  <div [innerHTML]="aa.asObservable() | async"></div>

  <!-- <pre><code class="language-javascript">const sum = (x, y) => x + y;</code></pre> -->

  <button
    (click)="
      insertImage(
        'https://s3-us-west-1.amazonaws.com/angular-university/course-images/angular-material-course-1.jpg'
      )
    "
  >
    Insert Image
  </button>

  <input
    #imgInput
    type="file"
    style="display: none"
    (change)="uploadImage($event)"
  />
  <button
    type="button"
    class="btn btn-sm btn-default"
    (click)="imgInput.click()"
  >
    Upload Image
  </button>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
